@use "../../styles/variables" as *;
.textArea {
  background-color: $secondary-color;
  box-sizing: border-box;
  max-width: 80%;
}

@media only screen and (min-width: $desktop-breakpoint) {
  .textArea {
    margin-left: 4rem;
  }
}
