@use "../../styles/variables" as *;
.logInput-container {
  background-color: $primary-color;
  background-image: radial-gradient(
    circle at 2px 2px,
    rgb(75, 74, 74) 2px,
    transparent 0
  );
  background-size: 50px 50px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 11;
  .logInput {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    &__summary {
      width: 205px;
      height: 80px;

      margin: 0.5rem;
    }
    &__button {
      background-color: $secondary-color;
      color: $primary-color-font;
      margin-top: 1rem;
      padding: 0.5rem;
      &:hover {
        cursor: pointer;
      }
    }
    &__input {
      margin: 0.5rem;
    }
  }
}
