@use "../../styles/variables" as *;

.navbar {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;

  // .navbar__left {
  // }
  // .navbar__right {
  // }
}

@media only screen and (min-width: $desktop-breakpoint) {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    .navbar__left {
      margin-left: 4rem;
    }
    .navbar__right {
      margin-right: 5rem;
    }
  }
}
