@use "../../styles/variables" as *;

.navbar {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin-top: 1rem;

  .navbar__left {
    transform: rotate(-3deg);
    background-color: #ffc700;
    border: solid 4px black;
    box-shadow: 1px 3px 1px 2px #000000;
  }
  // .navbar__right {
  // }
}

@media only screen and (min-width: $desktop-breakpoint) {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    .navbar__left {
      margin-left: 4rem;
    }
    .navbar__right {
      margin-right: 5rem;
    }
  }
}
