@use "../../styles/variables" as *;
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  justify-content: center;
}

@media only screen and (min-width: $tablet-breakpoint) {
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 1rem;
  }
}
