@use "../../styles/variables" as *;
.resourcesSection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: $secondary-color;
  border: 1px solid rgb(118, 118, 118);
  &__header {
    justify-content: center;
  }
  &__links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  &__link {
    color: $primary-color-font;
    text-decoration: none;
    margin-right: 3rem;

    &:hover {
      font-weight: 600;
    }
  }
}
@media only screen and (min-width: $desktop-breakpoint) {
  .resourcesSection {
    margin-right: 4rem;
    &__link {
      margin-right: 2rem;
    }
  }
}
