@use "./styles/variables" as *;
.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $primary-color;
  overflow: hidden;
}
@media only screen and (min-width: $desktop-breakpoint) {
  .app {
    display: flex;
  }
}
