@use "../../styles/variables" as *;

.codeCardContainer {
  display: grid;
  gap: 2rem;
  justify-items: center;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  margin-top: 1rem;
}

@media only screen and (min-width: $desktop-breakpoint) {
  .codeCardContainer {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    margin-right: 2rem;
  }
} ;
